#contact-info {
	font-size: .8em
}

.job {
	background-color: #e9e5dc;
	padding: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.accomplishment {
	font-size: .8em;
}

.fancy:first-letter {
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
}

#work-experience li {
	font-style: italic;
}