#contact-info {
	font-size: .8em
}

.job {
	background-color: #e9e5dc;
	padding: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.accomplishment {
	font-size: .8em;
}

p:first-letter {
	font-size= 4em;
}